@page "/Users"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = "Teacher, Admin")]
@rendermode InteractiveServer

<h3>User Management</h3>

<button class="btn btn-primary" @onclick="OnAddNewUserClicked">Add new user</button>

<table class="table table-hover align-middle">
    <thead class="thead-light">
        <tr>
            <th>Id</th>
            <th>Email</th>
            <th>Roles</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var (user, roles) in AllUsersWithRoles)
        {
            <tr>
                <td>@user.Id.Substring(0, 5) ...</td>
                <td>@user.Email</td>
                <td>@(string.Join(", ", roles))</td>
                <td>
                    <button class="btn btn-primary" @onclick="(() => OnEditUserClicked(user, roles))">Edit</button>
                    <button class="btn btn-danger" @onclick="(() => DeleteUser(user))">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (ShowPopup)
{
    <!-- Popup to create or edit a user -->
    <div class="modal" tabindex="-1" style="display:block" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Add user</h3>
                    <!-- Button to close the popup -->
                    <button type="button" class="btn btn-close" @onclick="ClosePopup"></button>
                </div>

                <!-- Edit form for the current user -->
                <div class="modal-body">
                    <!-- Only allow editing email if a new user -->
                    <label for="email" class="col-form-label">Email</label>
                    <InputText id="email"
                                class="form-control"
                                DisplayName="Email"
                                @bind-Value="UserToEdit!.Email"
                                readonly="@(!IsNewUser)" />
                    <RoleDropdown OnRoleChanged="@OnRoleChanged"
                                  InitialRole="@UserToEditRole" />

                    <!-- Display any error messages -->
                    @if (ErrorMessage is not null)
                    {
                        <div class="container px-0 my-3">
                            <p class="text-danger">@ErrorMessage</p>
                        </div>
                    }

                    <!-- Button to save the user -->
                    <div class="container px-0 my-3">
                        <button class="btn btn-primary" @onclick="SaveUser">Save</button>

                        <!-- Only show delete if not a new record -->
                        @if (!IsNewUser)
                        {
                            <button class="btn btn-danger mx-3" @onclick="(() => DeleteUser(UserToEdit))">Delete</button>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}
